
__pycache__/imageparser\.cpython-34\.pyc

__pycache__/imageparser\.cpython-36\.pyc

__pycache__/metrics\.cpython-36\.pyc

__pycache__/segmentator\.cpython-34\.pyc

__pycache__/segmentator\.cpython-36\.pyc

__pycache__/threedunet\.cpython-36\.pyc

__pycache__/trainer\.cpython-36\.pyc

__pycache__/unet\.cpython-36\.pyc

__pycache__/utils\.cpython-36\.pyc

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/WhiteMatterHyperintensities\.iml

\.idea/workspace\.xml
